venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
.Python
*.log
.git
.gitignore
rec_engine_api_reference.pdf
docs/
scripts/__pycache__
services/engine/__pycache__
services/engine/venv
services/engine/*.sqlite3
services/engine/.mypy_cache
services/engine/.pytest_cache
ml_models/*.tmp
